In [1]:
import pandas as pd
import numpy as np

### Classifying without considering age group

In [2]:
df = pd.read_excel('total_bpm.xlsx')

In [3]:
df

           Time  BPM  Label
0      12:33:29   77      1
1      12:33:30   78      1
2      12:33:31   83      1
3      12:33:32   76      1
4      12:33:33   81      1
...         ...  ...    ...
53965  10:34:57   86      1
53966  10:34:58   81      1
53967  10:34:59   83      1
53968  10:35:00   86      1
53969  10:35:01   82      1

[53970 rows x 3 columns]

In [4]:
df = df.drop('Time', axis=1)

In [5]:
X = df.drop('Label',axis=1).to_numpy()
y = df.drop('BPM',axis=1).to_numpy().flatten()

In [6]:
X

array([[77],
       [78],
       [83],
       ...,
       [83],
       [86],
       [82]], dtype=int64)

In [7]:
y

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [8]:
from sklearn import svm

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [11]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(36159, 1)
(36159,)
(17811, 1)
(17811,)

In [12]:
clf = svm.SVC()

In [13]:
clf.fit(X_train,y_train)

SVC()

In [14]:
pred = clf.predict(X_test)

In [15]:
pred[:10]

array([0, 0, 1, 1, 1, 0, 0, 1, 1, 0], dtype=int64)

In [16]:
y_test[:10]

array([0, 0, 1, 1, 1, 0, 0, 1, 1, 0], dtype=int64)

In [17]:
clf.score(X_test,y_test)

0.9732749424512941

### Classifying considering various age groups

### 20-30 Age group

In [18]:
df = pd.read_excel('20_30.xlsx')
df

           Time  BPM  Label
0      12:33:29   77      1
1      12:33:30   78      1
2      12:33:31   83      1
3      12:33:32   76      1
4      12:33:33   81      1
...         ...  ...    ...
23382  09:41:58   81      1
23383  09:41:59   79      1
23384  09:42:00   78      1
23385  09:42:01   78      1
23386  09:42:02   85      1

[23387 rows x 3 columns]

In [19]:
df = df.drop('Time', axis=1)

In [20]:
X = df.drop('Label',axis=1).to_numpy()
y = df.drop('BPM',axis=1).to_numpy().flatten()

In [21]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [22]:
clf.fit(X_train,y_train)

SVC()

In [23]:
clf.score(X_test,y_test)

0.9944286084477844

### 30-40 Age group

In [24]:
df = pd.read_excel('30_40.xlsx')

In [25]:
df = df.drop('Time', axis=1)
X = df.drop('Label',axis=1).to_numpy()
y = df.drop('BPM',axis=1).to_numpy().flatten()

In [26]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
clf.fit(X_train,y_train)

SVC()

In [27]:
clf.score(X_test,y_test)

0.9791762364109631

### 40-50 Age group

In [28]:
df = pd.read_excel('40_50.xlsx')

In [29]:
df = df.drop('Time', axis=1)
X = df.drop('Label',axis=1).to_numpy()
y = df.drop('BPM',axis=1).to_numpy().flatten()

In [30]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
clf.fit(X_train,y_train)

SVC()

In [31]:
clf.score(X_test,y_test)

0.9744597249508841